.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
  position: relative;
  flex: 1;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  margin-top: 5px;
  display: flex;
}

.checkoutProduct__stock {
  color: #007600;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

.checkoutProduct__shipping {
  color: #565959;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
}

.checkoutProduct__title {
  padding-right: 100px;
  font-size: 17px;
  font-weight: 700;
}

.checkoutProduct__price {
  position: absolute;
  top: 0;
  right: 0;
}

.checkoutProduct__quantity {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
}

.checkoutProduct__quantity button {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.checkoutProduct__quantity p {
  margin: 0;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 4px;
}
